additional_files/*
!additional_files

additional_files_json/*
!additional_files_json

json_files/*
!json_files

*.csv

.idea
.idea/*

easy-additional-metadata-error
easy-data-error

__pycache__
__pycache__/*

dvconfig.py
